<section class="about container" id="about">
    <h2>I Love Creating Solutions</h2>
    <img src="../img/briandaub.jpg" alt="Brian Daub Headshot"></img>
    <p>Hi, my name is Brian. I am a self-taught Front-End Web Developer. I have a passion for web technology and I love to figure out how things work. I create functional, intuitive, responsive websites utilizing frameworks such as Bootstrap and writing semantic HTML5, CSS3, JavaScript and jQuery. Being self-taught I spend a lot of my free time learning new technologies. Currently I am spending my time learning Gulp, Angular and Sass.</p>
</section>