<section class="contact" id="contact">
    <div class="container">
        <h2 class="section-title">Contact Me</h2>
        <form class="contact-form">
              <div>
                <label>
                    <input id="name" type="text" name="name" placeholder="Full Name"/>
                </label>
            
                <label>
                    <input id="email" type="text" name="email" placeholder="Email Address"/>
                </label>
            
                <label>
                  <textarea id="feedback" name="feedback" placeholder="Your Message"></textarea>
                  <input type="button" value="Submit Form" />
                  <input type="button" value="Download Resume" />
                </label>
                
              </div>
        </form>
        <div class="contact-info">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/brian-daub-31512b62" target="_blank"><img class="social-icons" src="../img/linkedin.png" alt="LinkedIn"></img></a>
                <a href="https://twitter.com/briandaub?lang=en" target="_blank"><img class="social-icons" src="../img/twitter.png" alt="Twitter"></img></a>
                <a href="https://github.com/briandaub" target="_blank"><img class="social-icons" src="../img/github.png" alt="CodePen"></img></a>
                <a href="http://codepen.io/codeJunkie01/" target="_blank"><img class="social-icons" src="../img/codepen.png" alt="GitHub"></img></a>
            </div>
            
        </div> 
    </div>
</section>