<section class="contact" id="contact">
    <div class="container">
        <h2 class="section-title">Contact Me</h2>
        <form class="contact-form" action="https://formspree.io/brian.daub@protonmail.com" method="POST">
              <div>
                <label>
                    <input id="name" type="text" name="name" placeholder="Full Name"/>
                </label>
            
                <label>
                    <input id="email" type="text" name="_replyto" placeholder="Email Address"/>
                </label>
            
                <label>
                  <textarea id="feedback" name="message" placeholder="Your Message"></textarea>
                </label>
                
                <label>
                  <input type="submit" value="Submit Form" />
                </label>
                
                <label>
                  <a href="../img/briandaub_cv.pdf" target="_blank"><input type="button" value="Download Resume" /></a>
                </label>
                
              </div>
        </form>
        <div class="contact-info">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/brian-daub-31512b62" target="_blank"><img class="social-icons" src="../img/linkedin.png" alt="LinkedIn" /></a>
                <a href="https://twitter.com/briandaub?lang=en" target="_blank"><img class="social-icons" src="../img/twitter.png" alt="Twitter" /></a>
                <a href="https://github.com/briandaub" target="_blank"><img class="social-icons" src="../img/github.png" alt="CodePen" /></a>
                <a href="http://codepen.io/codeJunkie01/" target="_blank"><img class="social-icons" src="../img/codepen.png" alt="GitHub" /></a>
            </div>
        </div> 
    </div>
</section>