<header class="site-header">

      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <img alt="Brand" src="../img/briandaub_logo.png" /><h1 id="logo-tag">Brian Daub</h1>
            </div>
            <ul id="navbar-links">
              <li><a href="#about">About</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container">
          <h1 class="hero-text">Welcome to My Portfolio.</h1>
      </div>
      <div class="scroll-dwn"><a href="#about"><img class="bounce" src="../img/scroll-down-arrow-icon.png"></a></div>
</header>
