<section class="portfolio" id="work">
    <div class="container">
        <div class="hero">
            <img class="hero-img hidden" src="../img/quotes.jpg" alt=""></img>
            <img class="hero-img active" src="../img/weather.jpg" alt=""></img>
            <img class="hero-img hidden" src="../img/tribute.jpg" alt=""></img>
            <img class="hero-img hidden" src="../img/calculator.jpg" alt=""></img>
            <img class="hero-img hidden" src="../img/pomodor.jpg" alt=""></img>
            <img class="hero-img hidden" src="../img/wikiviewer.jpg" alt=""></img>
            <img class="monitor" src="../img/desktop.png" alt=""></img>
        </div><!-- /end .class -->
        <div class="details"></div><!-- /end details -->
        <div class="slideshow">
            <ul class="slides">
                <li class="slide1"><img src="../img/thumb-quotes.jpg" alt=""></img></li>
                <li class="slide2"><img src="../img/thumb-weather.jpg" alt=""></img></li>
                <li class="slide3"><img src="../img/thumb-tribute.jpg" alt=""></img></li>
                <li class="slide4"><img src="../img/thumb-calculator.jpg" alt=""></img></li>
                <li class="slide5"><img src="../img/thumb-pomodoro.jpg" alt=""></img></li>
                <li class="slide6"><img src="../img/thumb-wiki.jpg" alt=""></img></li>
            </ul><!-- /end .slides -->
        </div><!-- /end .slideshow -->
    </div><!-- /end .container -->
</section>