.contact
    width: 100%
    height: auto
    min-height: 400px
    background: #f2f2f2
    
    .section-title
        margin: 50px 0 15px
        text-align: center
        
        &:after
            display: block
            height: 4px
            background-color: #ccc
            content: " "
            width: 150px
            margin: 20px auto
            
    .contact-info
        text-align: center
        margin: 0 0 50px
        
        .social-icons
            width: 40px
            height: auto
            margin: 10px
    
    .contact-form
        width: 55%
        height: auto
        margin: 30px auto

    label
        display: block

        input, textarea
            width: 100%
            margin: 5px 0
            padding: 2px 0 0
            border-radius: 3px
            border: 1px solid #ccc
            font-weight: 200
            outline: none
            border-radius: 0
        input
            height: 35px
        textarea
            height: 200px
            resize: none
            
        input[type="button"], input[type="submit"]
            background: $accent-color
            color: black
            font-size: 16px
            height: 50px
            border: none
            border-radius: 0
            
            
$bp-sm: 320px
$bp-md: 640px
$bp-lg: 1000px
$bp-xl: 1280px
$bp-xxl: 1600px

@media screen and (max-width: #{$bp-sm - 1px})

@media screen and (min-width: #{$bp-sm}) and (max-width: #{$bp-md - 1px})
    .contact
        .contact-form
            width: 100%

@media screen and (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1px})

@media screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1px})

@media screen and (min-width: #{$bp-xl}) and (max-width: #{$bp-xxl - 1px})