header
    height: 700px
    width: 100%
    background-color: gray
    text-transform: uppercase
    font-family: Montserrat
    background: url("../img/Attachment-1.jpeg") no-repeat fixed center center
    background-size: cover
    
    .hero-text
        height: 200px
        width: 400px
        float: left
        margin-top: 10%
    
    h1 
        color: white
        font-size: 90px
        font-weight: 700
        text-align: left
    
    .scroll-dwn
        text-align: center
        
        img
            margin-top: 180px
            height: 50px
            width: 60px
            
    
.navbar
    background: transparent
    margin-bottom: 150px

    
.navbar-header
    width: 100%

.navbar-brand
    float: left
    
    img
        height: 35px
        width: 35px
        margin-left: 10px
            
ul
    float: right
    list-style-type: none
    text-decoration: none
    font-size: 12px
    
    
    li 
        display: inline-block
        margin: 25px 

        a
            text-decoration: none
            color: white
            
            &:hover
                text-decoration: none
                color: white
                
    
            
