$accent-color: #F44336

header
    min-height: 600px
    width: 100%
    background-color: gray
    text-transform: uppercase
    font-family: Montserrat
    background: url("../img/macbook-beer.jpg") no-repeat center center 
    background-size: cover
    
    .hero-text
        height: auto
        width: 50%
        float: left
        margin-top: 10%
    
    h1 
        color: white
        font-size: 90px
        font-weight: 700
        text-align: left
    
    .scroll-dwn
        text-align: center
        
        img
            margin: 180px 0 20px
            height: 50px
            width: 60px
            
    
.navbar
    background: rgba(0,0,0,0.7)
    height: 60px

    
.navbar-header
    width: 100%

.navbar-brand
    float: left
    margin: -6px 15px
    
    img
        height: auto
        width: 40px
        float: left

#logo-tag    
    float: left
    font-size: 14px
    margin: 15px 0 0 20px
    font-weight: 200

#navbar-links
    list-style-type: none
    text-decoration: none
    font-size: 14px
    float: right
            
li 
    display: inline-block
    margin: 20px 45px 0
    float: left
                
        
    a:link, a:visited, a:hover, a:active
        text-decoration: none
        color: white
                    
$bp-sm: 320px
$bp-md: 640px
$bp-lg: 1280px
$bp-xl: 1600px

@media screen and (max-width: #{$bp-sm - 1px})
    header
        min-height: 200px
        background: url("../img/sm_bg_head.jpg") no-repeat center center 
        background-size: cover
    
        .hero-text
            font-size: 12.3vw
            width: 70%
            
        ul
            visibility: hidden
        
    .navbar
        .navbar-header
            .navbar-brand
                img
                    margin: 0
            
            
@media screen and (min-width: #{$bp-sm}) and (max-width: #{$bp-md - 1px})
    header
        min-height: 200px
        background: url("../img/sm_bg_head.jpg") no-repeat center center 
        background-size: cover
        
        .hero-text
            font-size: 12.3vw
            width: 70%
            
        ul
            visibility: hidden
    
    .navbar
        .navbar-header
            .navbar-brand
                img
                    margin: 0    
            
@media screen and (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1px})
    header
        .hero-text
            font-size: 7vw
            
        ul
            font-size: 16px
            
            li
                margin: 25px 15px 15px
                            
                
@media screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1px})
    header
        .hero-text
            font-size: 6vw



            
            