.skillset
    background: #f2f2f2
    height: auto
    margin: 0 auto
    text-align: center
    
    h2
        margin: 60px 0 15px
        
        &:after
            display: block
            height: 4px
            background-color: #ccc
            content: " "
            width: 150px
            margin: 20px auto
      
        
    
    .skills
        margin: 50px 20px
        text-align: center
        
        .skill
            text-align: left
            margin: 10px 70px
        
        .skill-list
            margin: 0 auto
        
        .skill-bar
            float: none
            display: block
            width: 400px
            background-color: gray
            height: 5px
            
            
$bp-sm: 320px
$bp-md: 640px
$bp-lg: 1280px
$bp-xl: 1600px

@media screen and (max-width: #{$bp-sm})
    .skillset
        .skills 
            margin: 50px 0
            
            .skill
                margin: 10px 0
                
            .skill-bar
                width: 200px

@media screen and (min-width: #{$bp-sm + 1px}) and (max-width: #{$bp-md - 1px})
    .skillset
    
        .skills
            margin: 50px 0
        
            h3
                font-size: 18px
            
            .skill
                margin: 10px 0px
                
            .skill-bar
                width: 300px
                
@media screen and (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1px})
    .skillset
    
        .skills
        
            h3
                font-size: 20px
            
            .skill
                margin: 10px 20px
                
            .skill-bar
                width: 300px
                
                
@media screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1px})
    .skillset
    
        .skills
        
            h3
                font-size: 20px
            
            .skill
                margin: 10px 20px
                
            .skill-bar
                width: 400px                
                