.skillset
    background: #f2f2f2
    height: auto
    text-align: center
    padding: 20px 0
    
    h2
        margin: 40px 0 60px
        
        &:after
            display: block
            height: 4px
            background-color: #ccc
            content: " "
            width: 150px
            margin: 20px auto
    
    .skill-list
        margin: 0 auto
        width: 90%
        
        .bar-outter
            text-align: left
            margin: 40px 50px
            background-color: #ccc
            height: 5px
            width: 400px
            list-style-type: none
            float: left
        
        .bar-inner
            height: 100%
            background: $accent-color
            
            &::before
                position: relative
                top: -40px
                font-size: 23px

            
            &:after
                position: relative
                top: -40px

            
        .html
            width: 90%
            animation: html 2s ease-out

            
            &:before
                content: "HTML5"
                
            &:after
                content: '90%'
                left: 300px
                
           
        
        @keyframes html
            0%
                width: 0%
            100%
                width: 90%

        
        .css
            width: 85%
            animation: css 2s ease-out
            
            &::before
                content: "CSS3"
            &:after
                content: '85%'
                left: 316px
                
        @keyframes css
            0%
                width: 0%
            100%
                width: 85%
                
        .bootstrap
            width: 75%
            animation: bootstrap 2s ease-out
            
            &::before
                content: "Bootstrap"
            &:after
                content: '75%'
                left: 277px
                
        @keyframes bootstrap
            0%
                width: 0%
            100%
                width: 75%

                
        .js
            width: 80%    
            animation: js 2s ease-out
            
            &::before
                content: "JavaScript"
            &:after
                content: '80%'
                left: 267px
                
        @keyframes js
            0%
                width: 0%
            100%
                width: 80%
                
        .jquery
            width: 75%
            animation: jquery 2s ease-out
            
            &::before
                content: "jQuery"
            &:after
                content: '75%'
                left: 308px
                
        @keyframes jquery
            0%
                width: 0%
            100%
                width: 75%
                
        .git
            width: 70%
            animation: git 2s ease-out
            
            &::before
                content: "Git/GitHub"
            &:after
                content: '70%'
                left: 267px
               
        @keyframes git
            0%
                width: 0%
            100%
                width: 70%

        .ps
            width: 70%
            animation: ps 2s ease-out
            
            &::before
                content: "Photoshop"
            &:after
                content: '70%'
                left: 266px
                
        @keyframes ps
            0%
                width: 0%
            100%
                width: 70%
            
        .is
            width: 65%
            animation: is 2s ease-out
            
            &::before
                content: "Illustrator"
            &:after
                content: '65%'
                left: 279px
                
        @keyframes is
            0%
                width: 0%
            100%
                width: 65%
                

            
$bp-sm: 320px
$bp-md: 640px
$bp-lg: 1280px
$bp-xl: 1600px

@media screen and (max-width: #{$bp-sm})
    .skillset
        .skill-list
            margin: 50px 0
            
            .skill
                margin: 10px 0
                
            .bar-outter
                width: 200px
                margin: 40px auto

@media screen and (min-width: #{$bp-sm + 1px}) and (max-width: #{$bp-md - 1px})
    .skillset
    
        .skill-list
            margin: 50px 0
        
            h3
                font-size: 18px
            
            .list-group
                margin: 10px 0px
                
                .bar-outter
                    width: 280px
                    margin: 40px 0
    
                
                    .html
                        &:after
                            left: 181px
                    
                    .css
                        &:after
                            left: 196px
                            
                    .bootstrap
                        &:after
                            left: 156px
                            
                    .js
                        &:after
                            left: 147px
                            
                    .jquery
                        &:after
                            left: 188px
                            
                    .git
                        &:after
                            left: 147px
            
                    .ps
                        &:after
                            left: 145px
                        
                    .is
                        &:after
                            left: 160px
                
                
@media screen and (min-width: #{$bp-md}) and (max-width: 999px)
    .skillset
    
        .skill-list
        
            h3
                font-size: 20px
            
            .list-group
                margin: 10px 20px
                
                .bar-outter
                    width: 420px
                    margin: 40px 0
                                    
                    .html
                        &:after
                            left: 320px
                    
                    .css
                        &:after
                            left: 335px
                            
                    .bootstrap
                        &:after
                            left: 296px
                            
                    .js
                        &:after
                            left: 286px
                            
                    .jquery
                        &:after
                            left: 325px
                            
                    .git
                        &:after
                            left: 287px
            
                    .ps
                        &:after
                            left: 286px
                        
                    .is
                        &:after
                            left: 300px
                            
@media screen and (min-width: 1000px) and (max-width: #{$bp-lg - 1px})
    .skillset
    
        .skill-list
        
            h3
                font-size: 20px
            
            .list-group
                margin: 10px 20px
                
                .bar-outter
                    width: 350px
                    margin: 40px 20px
                
                    .html
                        &:after
                            left: 250px
                    
                    .css
                        &:after
                            left: 263px
                            
                    .bootstrap
                        &:after
                            left: 225px
                            
                    .js
                        &:after
                            left: 217px
                            
                    .jquery
                        &:after
                            left: 255px
                            
                    .git
                        &:after
                            left: 217px
            
                    .ps
                        &:after
                            left: 214px
                        
                    .is
                        &:after
                            left: 227px
                
                
@media screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1px})
    .skillset
    
        .skills
        
            h3
                font-size: 20px
            
            .skill
                margin: 10px 20px
                
            .skill-bar
                width: 400px                
                