.portfolio
    background: white
    width: 100%
    height: auto
    margin: 0 0 50px
    padding: 0
    
    .section-title
        margin: 50px 0 15px
        text-align: center
        
        &:after
            display: block
            height: 4px
            background-color: #ccc
            content: " "
            width: 150px
            margin: 20px auto
    
    .hero
        float: left
        width: 50%
        height: 400px
        
        .active
            visibility: visible
            display: block
            
        .hidden
            visibility: hidden
        
        .hero-img
            position: relative
            top: 45px
            width: 70%
            height: auto
            left: 50px
        
        .monitor
            height: auto
            width: 72%
            margin: 50px 0 0 50px
            z-index: 1001
            position: relative
            top: -245px
        
    .details
        float: right
        width: 50%
        height: 400px
        
        .tags
            display: block
            margin: 30px 0 0

            
            .tag
                padding: 5px 10px
                margin: 5px
                border: 2px solid #949276
            
            .tag:first-child
                margin-left: 0
                
        .list-desc
            p
                font-size: 16px
        
        button
            outline: none
          
        .view-project
            display: inline-block
            margin: 30px 0 0
            padding: 10px 15px
            background: #949276
            color: white
            border: none

            
    .slideshow
        width: 100%
        height: 200px
        margin: 0
        padding: 0
        overflow-x: scroll
        overflow-y: hidden
        
        .slides
            float: left
            width: 1800px
            height: auto
            

        li
            float: left
            display: inline
            height: 150px
            width: 250px
        
        img
            background: #ccc
            overflow: hidden
            
            
            
$bp-sm: 320px
$bp-md: 640px
$bp-lg: 1000px
$bp-xl: 1280px
$bp-xxl: 1600px

@media screen and (max-width: #{$bp-sm - 1px})

@media screen and (min-width: #{$bp-sm}) and (max-width: #{$bp-md - 1px})
    .portfolio
        .hero
            display: none
        .details
            float: none
            width: 100%
            height: 0
            
            h2
                font-size: 25px
                
            .tags
                .tag
                    margin: 2px
                    padding: 5px

@media screen and (min-width: #{$bp-md}) and (max-width: 734px)
    .portfolio
        .hero
            .hero-img
                top: 90px
                left: 55px
                
            .monitor
                top: -99px
            
        .details
            .tags
                .tag
                    margin: 1px
                    padding: 5px
                    
@media screen and (min-width: 735px) and (max-width: #{$bp-lg - 1px})
    .portfolio
        .hero
            width: 45%
            height: 0
            
            .hero-img
                top: 70
            .monitor
                top: -100px
                
        .details
            width: 55%
            .tags
                .tag
                    margin: 1px
                    padding: 5px
                
@media screen and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl - 1px})
    .portfolio
        .hero
            .monitor
                top: -192px

@media screen and (min-width: #{$bp-xl}) and (max-width: #{$bp-xxl - 1px})


