.portfolio
    background: white
    width: 100%
    height: 400px
    margin: 0
    padding: 0
    
    .hero
        float: left
        width: 50%
        height: 400px
        
        .active
            visibility: visible
            display: block
            
        .hidden
            visibility: hidden
        
        .hero-img
            position: relative
            top: 56px
            width: 450px
            height: 235px
            left: 50px
        
        .monitor
            height: auto
            width: 450px
            margin: 50px 0 0 50px
            z-index: 1001
            position: relative
            top: -245px
        
    .details
        float: right
        width: 50%
        height: 400px
        
    .slideshow
        width: 100%
        height: 200px
        margin: 0
        padding: 0
        overflow: hidden
        
        .slides
            float: left
            width: 1800px
            height: auto

        li
            float: left
            display: inline
            height: 150px
            width: 250px
        
        img
            background: #ccc
            overflow: hidden
            
            
            